* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  position: sticky;
  top: 0;
  background-color: #14213d;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: #444444 0px 2px 5px;
  z-index: 1000;
}
.navbar ul a {
  display: block;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}
.navbar ul a:hover {
  background-color: #fca311;
  border-radius: 10px;
  color: #14213d;
}

.nav-links {
  background-color: #14213d;
  flex-direction: column;
  display: flex;
  gap: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  position: absolute;
  top: 58px;
  width: 100%;
  left: 0;
  align-items: center;
}
.nav-links li {
  list-style: none;
}

.logo {
  font-size: 25px;
  display: flex;
  font-weight: bold;
  color: #ffffff;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  padding: 0px 10px;
}

.navbar .menu-toggle:checked ~ .nav-links {
  max-height: 200px;
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    max-height: none;
    position: static;
    width: auto;
  }
}
/* hero section styles */
.home {
  position: relative;
  width: 100%;
}

.profile-pic {
  width: 100%;
  height: auto;
  display: block;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Arial", sans-serif;
  background-color: rgba(20, 33, 61, 0.8);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
}
.home-content h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.home-content p {
  font-size: 18px;
  color: #E5E5E5;
}

/* main section styles */
.project-1-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.all-projects h2 {
  color: #14213d;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px 20px;
  width: auto;
  background-color: #fca311;
  margin: 0px 15%;
  border-radius: 10px;
}

.project-list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 30px;
}

.project-1 {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: #444444 0px 2px 5px;
  display: flex;
  border: #fca311 2px solid;
}

.project-2 {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: #444444 0px 2px 5px;
  display: flex;
  border: #fca311 2px solid;
}

.project-3 {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: #444444 0px 2px 5px;
  display: flex;
  border: #fca311 2px solid;
}

.Paragraph-ComingSoon {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #14213d;
  font-weight: bold;
}

@media (min-width: 768px) {
  .Paragraph-ComingSoon {
    font-size: 20px;
  }
  .home-content {
    width: 30%;
    padding: 30px;
  }
}
.skills-section h1 {
  color: #14213d;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px 20px;
  width: auto;
  background-color: #fca311;
  margin: 30px 15% 0 15%;
  border-radius: 10px;
}

.skills-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}
.skills-icons i {
  font-size: 50px;
}
.skills-icons .fa-html5 {
  color: #e34c26;
}
.skills-icons .fa-css3-alt {
  color: #264de4;
}
.skills-icons .fa-bootstrap {
  color: #563d7c;
}
.skills-icons .fa-git-alt {
  color: #f34f29;
}
.skills-icons .fa-github {
  color: #333;
}

/* Footer styles */
.footer-content {
  display: flex;
  background-color: #14213d;
  color: #ffffff;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.social-icons {
  display: flex;
  gap: 10px;
  color: #ffffff;
  cursor: pointer;
}
.social-icons a {
  color: #ffffff;
  font-size: 24px;
}/*# sourceMappingURL=style.css.map */